verbose: false;
foreground: false;
inetd: false;
numeric: false;
transparent: false;
timeout: 2;
user: "nobody";
pidfile: "/var/run/sslh/sslh.pid";

listen:
(
  # Using the hostname instead of IP addresses would result in sslh only listening to IPv4
  { host: "{{ sslh_ipv4_address }}"; port: "443"; },
  { host: "{{ sslh_ipv6_address }}"; port: "443"; }
);

protocols:
(   
  # Direct TLS (XEP-0368: SRV records for XMPP over TLS)
  { name: "tls"; host: "localhost"; port: "5223"; alpn_protocols: [ "xmpp-client" ]; },

  # STUN/TURN
  { name: "tls"; host: "localhost"; port: "5349"; alpn_protocols: [ "stun.turn", "stun.nat-discovery" ]; },

  # SSH
  { name: "ssh"; host: "localhost"; port: "22"; }, 

  # XMPP
  { name: "xmpp"; host: "localhost"; port: "5222"; },

  # HTTP operations of XMPP server
  { name: "tls"; host: "localhost"; port: "5443"; }
);
 
on-timeout: "timeout";
